.game {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.player,
.enemy,
.bullet {
  position: absolute;
  width: 20px;
  height: 20px;
}

.player {
  background: rgb(0, 255, 72);
}

.enemy {
  background: rgb(214, 7, 7);
}

.bullet {
  background: yellow;
}

.score {
  color: white;
}
